
body{
 Font-Family: Sans-Serif;
}

.batch-n{
  position: absolute;
  bottom: 0;
  right: 0;
}

div.cont{

 /*       text-align: center;
        overflow: hidden;
        page-break-inside: avoid;*/
/*
position: absolute;
top: 0;
bottom: 0;
left: 0;*/
  width: 100%;
  height: 100%;
/*  border: 1px solid #000; */
 background-color: #fee;
	z-index: -10;
/*  padding: 1mm; */

}

div.row{
  height: 5.5cm;
  width: 100%;
}

div.col{
  width: 10.4cm;
  float: left;
}

div.lft{
  border-right: 1px solid #000;
}

div.heading{
  height: 0.6cm;
  text-align: center;
}

div.text{
  float: left;
  width: 5cm;
  margin-left: 0.5cm;
  padding-right: 0.2cm;
  margin-bottom: 0;
}

h2{
  margin: 0.1cm 0 0.3cm 0;
}

h3{
  margin: 0.15cm 0 0.3cm 0;
}

p{
  margin: 0.2cm 0;
}

div.qrcode{
  float: left;
}

div.foot{
  height: 0.4cm;
  text-align: center;
}

div.m-row{
  width: 100%;
  height: 1px;
}

div.m-left{
  height: 1px;
  width: 1cm;
  float: left;
  border-bottom: 1px solid #000;
}

div.m-right{
  height: 1px;
  width: 1cm;
  float: right;
  border-bottom: 1px solid #000;
}

qrcode{
  background-color: white;
}




