{% extends 'base.html.twig' %}

{% block content %}

<div class="row">
<div class="col-md-12">

<h1>{{ 'terms.heading'|trans }}</h1>

<div class="panel panel-default">
<div class="panel-body">

{{ 'terms.text'|trans|raw }}

</div>
</div>

</div>
</div>

{% endblock content %}


