{% extends 'base.html.twig' %}


{% block content %}

<div class="row"><div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
<h1>{{ 'error.404.heading'|trans }}</h1>

</div>
<div class="panel-body">
<h3>{{ 'error.404.text'|trans }}</h3>

</div></div>
</div></div>

{% endblock content %}


