{% extends 'base.html.twig' %}

{% block content %}

<p>{{ 'mail_register_confirm.top'|trans }}</p>

<p><a href="{{ url }}">{{ url }}</a></p>

<p>{{ 'mail_register_confirm.bottom'|trans }}</p>

{% endblock %}

