{% extends 'base.html.twig' %}

{% block modal %}{% endblock %}

{% block heading %}{% endblock %}

{% block action %}


<div class="row">
<div class="col-md-12">

<p>

<div class="input-group input-group-lg">

      <span class="input-group-btn">
        <button class="btn btn-info" type="button">{{ 'index.pay'|trans }} ANT</button>
      </span>

  <input type="number" class="form-control" placeholder="0.00" aria-describedby="pay-addon">
</div>

</p>
{#
<p>
<a class="btn btn-lg btn-primary btn-block">{{ 'index.pay'|trans }}</a>
</p>

#}
</div>
</div>

{#
<div class="row">
<div class="col-md-12">
<p>
<button type="button" class="btn btn-default btn-block btn-lg">Action</button>
</p>
</div>
</div>
#}

<div class="row">
<div class="col-md-12">



<div class="panel panel-default">

{% if transactions %}

  <table class="table table-striped">
  <tbody>
{% for t in transactions %}
	<tr><td>{{ t.ts|date }}</td><td>{{ t.amount }}</td></tr>
{% endfor %}
  </tbody>
  <tfoot>
	<th>Tijd</th><th>Amount</th>
  </tfoot>
  </table>

{% endif %}

<div class="panel-footer">
	<h3>40 ANT</h3>
</div>
</div>

</div>
</div>

<div class="row">
<div class="col-md-12">

<a href="" class="btn btn-lg btn-default">GHT</a>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>

{% endblock action %}

{% block content %}{% endblock %}


