<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<p>Hey, we want to verify that you indeed registered at Plan A, the Community Way.
Verifying this address will have your account created at omdev.be.
If you wish to continue, please follow the link below:</p>

<p><a href="{{ url }}">{{ url }}</a></p>

<p>If you didn't register for Plan A, Community Way or didn't request verification, you can ignore this email.</p>




